.login {
  width           : 100vw;
  height          : 100vh;
  background-image: url('~assets/login.png'); //因为在jsconfig.json里已经配置过绝对引入了，所以这里可以写绝对路径，又因为这是在scss里，所以绝对路径前要加“~”符号，详见2-1-19以及https://create-react-app.dev/docs/importing-a-component
  background-size : cover;
  position        : relative;

  :global {

    //:global是css modules相关知识点
    .login-container {
      width    : 440px;
      height   : 360px;
      position : absolute;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
    }

    .login-logo {
      width  : 200px;
      height : 60px;
      display: block;
      margin : 0 auto 20px;
    }
  }
}
